/* Tipografia */
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body {
    font-family: 'Inter';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
}

html {
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 2.489rem;
    /* 39.84px */
}

h2 {
    font-size: 2.074rem;
    /* 33.12px */
}

h3 {
    font-size: 1.728rem;
    /* 27.68px */
}

h4 {
    font-size: 1.440rem;
    /* 23.04px */
}

h5 {
    font-size: 1.200rem;
    /* 19.2px */
}

small {
    font-size: 0.833rem;
    /* 13.28px */
}

/* Transição para o botão*/
body {
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

/* Estilização da linha horizontal */
hr {
    width: 95%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    color: black;
    padding: 20px;
    text-align: center;
}

header a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

/* Botões */
#enviar {
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#enviar:hover {
    background-color: #ff4500;
}

/* "Banner" */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 20px auto;
}

#imgBanner {
    border: 3px solid black;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#cardapio{
    text-align: center;
}
/* Cards de Receitas */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

.card {
    width: calc(33.333% - 40px);
    /* Calcula o tamanho do card com margem */
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid black;
    border-radius: 10px;
    transition: transform 0.3s ease;
    background-color: white;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin-bottom: 10px;
}

.card-button {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Sobre */
#sobre {
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

/* Contato */
#bloco_contato {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
    margin: 20px auto;
}

/* Login */
#bloco_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quiz */
#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}