/* Tipografia */
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body {
    font-family: 'Inter';
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 700;
}

html {
    font-size: 100%;
    /* 16px */
}

h1 {
    font-size: 2.489rem;
    /* 39.84px */
}

h2 {
    font-size: 2.074rem;
    /* 33.12px */
}

h3 {
    font-size: 1.728rem;
    /* 27.68px */
}

h4 {
    font-size: 1.440rem;
    /* 23.04px */
}

h5 {
    font-size: 1.200rem;
    /* 19.2px */
}

small {
    font-size: 0.833rem;
    /* 13.28px */
}

/* Transição para o botão*/
body {
    transition: 0.5s;
}